@charset "utf-8";
/* CSS Document */
body{
	margin:0 0 0 0;
	font-family:Verdana, Geneva, sans-serif;
	}
.nc_outer{
	float:right;
	position:fixed;
	}
.nc_innner{

	}
.nc_main{
	height:100%;
	width:50px;
	background-color:#333;
	}

